<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnplantillamovimientobancariodet.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="4" cellStep="0" name="${lbl:b_template_bank_movement_detail}"/>
	
	<excel 
		recordset='query-smnplantillamovimientobancariodet.sql' 
		sheetname='${lbl:b_template_bank_movement_detail}' 
		filename='${lbl:b_template_bank_movement_detail}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='pmd_fecha' label='${lbl:s_loginhist_col1}' />
		<col id='pmd_numero_referencia_bancaria' label='${lbl:b_bank_reference_number}' />
		<col id='smn_equivalencia_doc_bancario_id' label='${lbl:b_bank_equivalence}' />
		<col id='smn_tipo_documento_id' label='${lbl:b_document_type}' />
		<col id='pmd_descripcion' label='${lbl:b_description}' />
		<col id='pmd_monto' label='${lbl:b_amount}' />
		<col id='pmd_estatus' label='${lbl:b_status}' />
		<col id='pmd_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
