<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='3%'/>


	<!--toolbar-->
	<tr>
		<th colspan="11" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th>PC</th>
		<th>PE</th>
		<th class='sortable' onclick='sortBy("smn_entidad_rf","query-smnplantillamovimientobancario.sql")'>${lbl:b_entity}</th>
		<th class='sortable' onclick='sortBy("smn_sucursal_rf","query-smnplantillamovimientobancario.sql")'>${lbl:b_subsidiary}</th>
		<th class='sortable' onclick='sortBy("smn_banco_rf","query-smnplantillamovimientobancario.sql")'>${lbl:b_bank}</th>
		<th class='sortable' onclick='sortBy("smn_cuenta_bancaria_rf","query-smnplantillamovimientobancario.sql")'>${lbl:b_bank_account}</th>
		<th class='sortable' onclick='sortBy("pmb_fecha_movimiento","query-smnplantillamovimientobancario.sql")'>${lbl:b_movement_date}</th>
		<th class='sortable' onclick='sortBy("pmb_estatus","query-smnplantillamovimientobancario.sql")'>${lbl:b_status}</th>
		<th class='sortable' onclick='sortBy("pmb_fecha_registro","query-smnplantillamovimientobancario.sql")'>${lbl:b_store_date}</th>
		<th>BD</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_plantilla_movimiento_bancario_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/icongrid/Generar.png" onclick="conciliar('${fld:smn_plantilla_movimiento_bancario_id}', '${fld:pmb_estatus}')" title="Proceso de Conciliacion"></td>
		<td><img src="${def:context}/images/exit.png" onclick="cierre('${fld:smn_plantilla_movimiento_bancario_id}', '${fld:pmb_estatus}' )" title="Proceso de Cierre"></td>
		<td>${fld:smn_entidad_rf}</td>
		<td>${fld:smn_sucursal_rf}</td>
		<td>${fld:smn_banco_rf}</td>
		<td>${fld:smn_cuenta_bancaria_rf}</td>
		<td>${fld:pmb_fecha_movimiento@dd-MM-yyyy}</td>
		<td align='left'>${fld:pmb_estatus}</td>
		<td>${fld:pmb_fecha_registro@dd-MM-yyyy}</td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="relacion('${fld:smn_plantilla_movimiento_bancario_id}','${fld:smn_entidades_id}', '${fld:smn_sucursales_id}','${fld:smn_entidades_financieras_id}','${fld:smn_cuentas_bancarias_id}')" title="${lbl:b_template_bank_movement_detail}"></td>
	</tr>
	</rows>

</table>