<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Actualiza valores de un formulario en una tabla
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_plantilla_movimiento_bancario_id</colname>
			<colname>pmd_fecha</colname>
			<colname>pmd_numero_referencia_bancaria</colname>
			<colname>smn_equivalencia_doc_bancario_id</colname>
			<colname>smn_tipo_documento_id</colname>
			<colname>pmd_descripcion</colname>
			<colname>pmd_monto</colname>
			<colname>smn_tasa_rf</colname>
			<colname>smn_moneda_rf</colname>
			<colname>pmd_monto_ma</colname>
			<colname>pmd_estatus</colname>
			<colname>pmd_fecha_registro</colname>
			<colname>smn_cliente_rf</colname>
		</cols>
		<table>smn_banco.smn_plantilla_movimiento_bancario</table>
		<oper>ACTUALIZAR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>id</pkey>
	</audit>

	<query>delete-query-smn_rel_plant_mov_bancario.sql</query>
	<colname>smn_movimiento_bancario_id</colname>
	<sql-template>insert-query-smn_rel_plant_mov_bancario.sql</sql-template>

	
	<transaction>
		<classname>domain.admin.InsertMaster</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>true</jdbc-log>
		<recordset id="query-smn_mov_bancario.sql" source="sql" scope="transaction" />
	</transaction>

	<query>update.sql</query>

	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
