<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='30%'/>
	<col width='30%'/>
	<col width='30%'/>


	<!--toolbar-->
	<tr>
		<th colspan="6" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_concepto_id','query-smnmovimientodetallesql')" >${lbl:b_concept}</th>
		<th class='sortable' onclick="sortBy('dmo_tipo_movimiento','query-smnmovimientodetallesql')" >${lbl:b_movement_type}</th>
		<th class='sortable' onclick="sortBy('dmo_fecha_registro','query-smnmovimientodetallesql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_movimiento_detalle_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_movimiento_detalle_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_movimiento_detalle_id}')" title="${lbl:b_edit_button}"></td>
		<td align="center">${fld:smn_concepto_id}</td>
		<td align="center">${fld:dmo_tipo_movimiento}</td>
		<td align="center">${fld:dmo_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
