<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smnplantillamovimientobancariodet.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>pmd_fecha</colname>
			<colname>pmd_numero_referencia_bancaria</colname>
			<colname>smn_equivalencia_doc_bancario_id</colname>
			<colname>smn_tipo_documento_id</colname>
			<colname>pmd_descripcion</colname>
			<colname>pmd_monto</colname>
			<colname>pmd_estatus</colname>
			<colname>pmd_fecha_registro</colname>
		
		</cols>
		<table>smn_banco.smn_plantilla_movimiento_bancario_det</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smnplantillamovimientobancariodet.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>pmd_fecha;pmd_numero_referencia_bancaria;smn_equivalencia_doc_bancario_id;smn_tipo_documento_id;pmd_descripcion;pmd_monto;pmd_estatus;pmd_fecha_registro;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
