<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncredito.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="5" cellStep="0" name="${lbl:b_credit}"/>
	
	<excel 
		recordset='query-smncredito.sql' 
		sheetname='${lbl:b_credit}' 
		filename='${lbl:b_credit}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_documento_id' label='${lbl:b_document}' />
		<col id='cre_numero_documento' label='${lbl:b_document_number}' />
		<col id='cre_fecha_solicitud' label='${lbl:b_request_date}' />
		<col id='cre_fecha_otorgamiento' label='${lbl:b_grant_date}' />
		<col id='cre_tasa_interes' label='${lbl:b_interest_rate}' />
		<col id='cre_meses_credito' label='${lbl:b_credit_months}' />
		<col id='cre_monto_credito_ml' label='${lbl:b_amount_credit_ml}' />
		<col id='cre_estatus_financiero' label='${lbl:b_financiero_status}' />
		<col id='cre_estatus_proceso' label='${lbl:b_process_status}' />
		<col id='cre_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
